PORT=5000
# Online MongoDB Atlas Connection URI
MONGO_URI=mongodb+srv://<username>:<password>@cluster0.mongodb.net/yoyo_app?retryWrites=true&w=majority

# JWT Secrets
JWT_SECRET=yoyo_super_secret_jwt_key_2026_!@#$%^
JWT_EXPIRES_IN=30d

# Redis Connection (Local or Managed Redis like Upstash / AWS ElastiCache)
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=

# Client App URL
CLIENT_URL=*
